<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Create Article</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/kingslanding">Home</a></li>
          <li class="breadcrumb-item active">Create Article</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <form method="post" >
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Options</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Choose Category</label>
                <select class="form-control select2" name="category" style="width: 100%;">
                  <option selected="selected" value="Statistics">Statistics</option>
                  <option value="Machine Learning">Machine Learning</option>
                  <option value="Python">Python</option>
                  <option value="Projects">Projects</option>
                </select>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <!-- /.form-group -->
              <div class="form-group">
                <label>Status</label>
                <select class="form-control select2" name="status" style="width: 100%;">
                  <option selected="selected" value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-4">
              <!-- /.form-group -->
              <div class="form-group">
                <label>Set featured article</label>
                <select class="form-control select2" name="featured" style="width: 100%;">
                  <option selected="selected" value="0">No</option>
                  <option value="1">Yes</option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <h5>Title</h5>
          <div class="form-group">
              <input type="text" name="title" value="" class="form-control my-colorpicker1">
          </div>  
          <!-- /.row -->
          <!-- /.row -->
          <h5>Short information</h5>
          <div class="form-group">
              <textarea type="text" name="intro" class="form-control my-colorpicker1"></textarea>
          </div>
          <!-- /.row -->
          <div class="form-group">
              <h5>Upload image</h5>
              <input type="file" id="img" name="">
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- SELECT2 EXAMPLE -->
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Write content</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <textarea name="content" id="editor"></textarea>
          <!-- /.row -->
        </div>
        <!-- /.card-body -->
        
      </div>
      <!-- /.card -->
    </div>
    <div class="container-fluid">
      <button class="btn btn-success" type="submit">Create</button>
    </div>
  </form>
    <!-- /.container-fluid -->
</section>
    <!-- /.content -->

    