<nav class="navbar navbar-light bg-white">
  <div class="container-fluid">
    <a href="/" class="text-decoration-none"><strong class="text-danger fst-italic fs-2">//</strong><strong class="text-dark fst-italic fs-2">MIYP</strong></a>
    <form class="d-flex" style="width: 450px;" 
    method="get" action="/search"
    >
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" name="query" value="{{query}}" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button class="input-group-text border-0" type="submit" id="search-addon">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    <button onclick="buildingFunction()" class="btn btn-outline-dark border-right-0" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        German
    </button>
  </div>
</nav>
