<div class="d-flex flex-column flex-shrink-0" style="width: auto;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center red">
    <li class="nav-item">
      <a href="/" id="home-link" class="nav-link py-3 rounded" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-house" aria-hidden="true" style="font-size: 24px;"></i>
        <span class="d-block">Home</span>
      </a>
    </li>
    <li>
      <a href="/statistics" id="statistics-link" class="nav-link py-3 rounded" title="Statistics" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-chart-simple" style="font-size: 24px;"></i>
        <span class="d-block">Statistics</span>
      </a>
    </li>
    <li>
      <a href="/machine-learning" id="machine-learning-link" class="nav-link py-3 rounded" title="Machine Learning" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-microchip" style="font-size: 24px;"></i>
        <span class="d-block">Machine</span>
      </a>
    </li>
    <li>
      <a href="/python" id="python-link" class="nav-link py-3 rounded" title="Python" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-brands fa-python" style="font-size: 24px;"></i>
        <span class="d-block">Python</span>
      </a>
    </li>
    <li>
      <a href="/projects" id="projects-link" class="nav-link py-3 rounded" title="Projects" data-bs-toggle="tooltip" data-bs-placement="right">
        <i class="fa-solid fa-diagram-project" style="font-size: 24px;"></i>
        <span class="d-block">Projects</span>
      </a>
    </li>
  </ul>
</div>

<script>
  // Get the current page or parameter value
  var currentPage = "{{ activePage }}"; // Replace with your actual logic to get the current page or parameter
console.log(currentPage);
  // Set the active class based on the current page or parameter
  if (currentPage === "home") {
    document.getElementById("home-link").classList.add("active");
  } else if (currentPage === "statistics") {
    document.getElementById("statistics-link").classList.add("active");
  } else if (currentPage === "machine-learning") {
    document.getElementById("machine-learning-link").classList.add("active");
  } else if (currentPage === "python") {
    document.getElementById("python-link").classList.add("active");
  } else if (currentPage === "projects") {
    document.getElementById("projects-link").classList.add("active");
  }
  // Add more conditions for other menu items
</script>
